@import "variables";
.main {
  width: 100%;
  height: 515px;
  background-color: #cbd4e6;
}
.container {
  position: relative;
}
.intro {
  background-image: url('../../img/Layer 1.svg');
  background-position: center;
  max-width: 100%;
  height: 515px;
  text-align: right;
  display: flex;
  justify-content: flex-end;

}
.main__intro {
  margin: auto 0;
  }
.main__info {
  font-family: $font-stack;
  color: $primary-font-color;
  font-weight: 400;
}
.main__callback {
  font-family: $font-stack;
  color: $primary-font-color;
}

.telephone {
}
.telephone__inner {
  display: flex;
  align-self: flex-start;
}

.telephone__btn {
  font-family: $font-stack;
  align-items: flex-start;
}

/*MENU*/
.menu {
  text-align: center;
}

.menu__box {
  display: flex;
  justify-content: space-around;
  height: auto;
  flex-grow: 1;
  font-family: 'Calibri' , sans-serif;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 67px;
  }

.menu__box p {
  font-family: 'Calibri' , sans-serif;
  color: white;
  padding: 0 60px;
}

.menu__box--1 {
  flex-grow: 1;
  background-color: #43b1d2;
  }
.menu__box--2 {
  flex-grow: 1;
  background-color: #3fb6c6;
}
.menu__box--3 {
  flex-grow: 1;
  background-color: #3cbbbb;
}
.menu__box--4 {
  flex-grow: 1;
  background-color: #37c3a8;
}

