$headerColor :#43b0d1;
$introColor: #494848;
$FF_Tahoma { font-family: Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}

$FF_Calibri {
  font-family: 'Calibri' , sans-serif;
color: white;
}

p {
  $FF_Calibri;
}