.main {
  width: 100%;
  height: 516px;
  background-color: #cbd4e6;

}

.main__intro {
  position: absolute;
  top: 116px;
  right: 0;
  text-align: right;

}

.main__info {
  font-family: 'Calibri' , sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main__callback {
  top: 10px;
  font-family: 'Calibri' , sans-serif;
  color: #494848;

}

.menu {
  text-align: center;
}

.menu__box {
  display: flex;
  justify-content: space-around;
  height: 323px;
  flex-grow: 1;
  font-family: 'Calibri' , sans-serif;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 67px;
  }

.menu__box p {
  top: 25%;
  font-family: 'Calibri' , sans-serif;
  color: white;
}

.menu__box--1 {
  flex-grow: 1;
  background-color: #43b1d2;
  }
.menu__box--2 {
  flex-grow: 1;
  background-color: #3fb6c6;
}
.menu__box--3 {
  flex-grow: 1;
  background-color: #3cbbbb;
}
.menu__box--4 {
  flex-grow: 1;
  background-color: #37c3a8;
}

